@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* below this line all changes start's ^^*/

/* changes on header and nav-links */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.left-links, .right-links {
  display: flex;
  justify-content: center;
  gap:32px;
  text-align: center;
}

a, ul{
  text-decoration: none;
  list-style: none;
  color: rgba(0, 0, 0, 0.726);
    padding-inline-start: 15px; /* aqui da espaçamento a esquerta de 15px */
    padding-inline-end: 15px; /* aqui da espaçamento a direita de 15px */

}



/*Changes on Odin logo, search bar and buttons*/
.content  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 10px 15px
}

/* changes on footer bar */
.footer {
  display: flex;
  justify-content: space-between;
}



/*test*/


body {
  display: flex;
  flex-direction: column;
  gap: 100px;

}